<!-- <progress id='pb' class="progress" value=0  max="1000"></progress> -->
<div class-"container-fluid jumbotron super-jumbo">
  <div class='main-title offset-sm-2'>
    <span><h1>Velvi</h1></span><span><h5 class="beta"></h5></span>
    <div class="theta">
      <span><h4>The best job application software in the world. </h4></span><!-- <span><h5 class="theta">Like a wizard.</h5></span> -->
    </div>
  </div>
  <div class='container-fluid main-jumbo'>
    <% if user_signed_in? %>
      <%= form_for @job_link do |f| %>
        <div class='col-md-9 offset-md-2 row '>
          <div class='col-lg-4 job-title'>
            <h5>Job Title / Industry</h5>
            <%= f.text_field :job_title %><br>
          </div>
          <div class='col-lg-4'>
            <h5>Where</h5>
            <%= f.text_field :job_location %><br />
          </div>
          <div class="col-lg-4 ">
            <h5>Skill Level</h5>
            <%= f.select :skill_level, JobLink.skill_levels.keys.to_a, selected: 'beginner' %>
          </div>
          <div class='row justify-content-center'>
            <div class='button-element col-md-5', onclick="generateProgressBar()" >
              <%= f.submit "Auto Apply", class: 'btn btn-primary main-search-button', id: 'job-search-button' %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
  <div class="jumbotron">
      <div class="container fluid centered row">
        <div class="col-md-7 offset-md-2">
          <h2>Sync your linkedin to get started</h2>
        </div>
        <div class="col-sm-2">
          <%= render 'layouts/landing' %>
        </div>
     </div>
   </div>
    <% end %>
  </div>
</div>
