<br><br>
<% if user_signed_in? %>
  <div>
    <h1>Great!</h1><h2> We'll automatically apply to all the right places for you</h2>
    <h4 class='subtitle'> But First...</h4>
    <br>
      <%= form_for @user, url: update_user_path, method: :patch, html: {multipart: true} do |f|%>
        <div class='row'>
          <div class="card col-md-5">
            <div class="container">
              <br>
              <% if @user.phone_number == nil %>
                <h4>Phone Number</h4>
                <%= f.text_field :phone_number %><br /><br />
              <% end %>
              <h4>Upload Resumé </h4>
              <% if @user.resume.present? %>
                <p>Leave blank if you want to use the one on file.</p>
              <% end %>
              <%= f.file_field :resume %><br/><br/>
              <br>
            </div>
          </div>
          <%= f.hidden_field :j, value: params['j']  %>
          <%= f.hidden_field :credits, value: @user.credits %>
          <div class="card col-md-5 related-searches">
            <br>
            <h4>Auto apply to these as well?</h4>
            <% if @related_searches != ["Looks like we couln't find any related searches"] %>
              <% @related_searches.each do |s| %>
                <div>
                    <input class='related-search' onClick='getCheckedSearches()' type="checkbox" id='<%= s %>' value="<%= s %>" checked name="related-search">
                    <label for='<%= s %>'>
                      <%= s %>
                    </label>
                </div>
                <% end %>
              <% else %>
                  <div>
                    <label for='<%= s %>'>
                      <%= s %>
                    </label>
                  </div>
              <% end %>
          </div>
        </div>
        <br>
        <h5 id='related-search-cost'></h5>
        <p id='user-credits' value='<%= current_user.credits %>'>Your Credits: <%= current_user.credits %></p>
        <%#= f.submit %>
      <% end %>
  </div>
<% end %>

<button id='submit' class='btn btn-primary' onClick='checkUserCredits()' ></button>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Get Credits</button>

<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <%= render 'layouts/prices' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
<br><br>

<br><br><br><br><br><br>
<script>

relatedSearches = []

$(document).ready(function() {
  userCreds = parseInt($("#user-credits").text().split(": ")[1])
  console.log(userCreds)
  $("input[name=related-search]:checked").each(function(){
    relatedSearches.push($(this).val());
  });
  console.log(relatedSearches.length)
  $("#related-search-cost").text("Credits Needed: "+ relatedSearches.length)
   if(relatedSearches.length > userCreds + 1){
     $("#submit").text("Get Credits To Apply");
      $("#submit").attr('disabled','disabled')
   }else{
     $("#submit").text("Auto Apply");
       $("#submit").removeAttr('disabled');
   }
});

function getCheckedSearches(){
  relatedSearches = []
  $("input[name=related-search]:checked").each(function(){
    relatedSearches.push($(this).val());
    if(relatedSearches.length > userCreds + 1){
      $("#submit").text("Get Credits To Apply")
      $("#submit").attr('disabled','disabled')
    }else{
      $("#submit").text("Auto Apply");
      $("#submit").removeAttr('disabled');
    }
  });
  console.log(relatedSearches.length)
  $("#related-search-cost").text("Credits Needed: "+ relatedSearches.length)
}

function checkUserCredits(){
  // console.log(relatedSearches.length)
    j_id=window.location.search.split("=")[1]
    $.post(window.location.origin+'/apply_to_related_searches', {j: j_id, r_searches: relatedSearches})
    $('form.edit_user').submit();

}

</script>
